
teamcity-testing-framework/allure-results/
teamcity-testing-framework/teamcity_tests_infrastructure
teamcity-testing-framework/swagger-coverage-report.html
teamcity-testing-framework/swagger-coverage-results.json
